.menu {
display: flex;
justify-content: space-around;
align-items: center;
}
.menu2{
  display: flex;
  list-style: none;
  justify-content: space-around;
  color: #626469;
  gap: 15px;
}

a{
  text-decoration: none;
}

ul{
  padding: 0px;
}

.links{
  color: #626469;
}
.links:hover{
  color: #3DCD58;
}

.linksside{
  color: #3DCD58;
}

#logo{
  z-index: 100;
  position: absolute;
  top: 12pt;
  right: 24pt;
}

#logobilled{
max-width: 100px;
}

h2 {
  text-align: center;
  font-family: 'Nunito';
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2px;
  background-color: #000000;
  padding: 2px;
  font-size: 15px;
}

.grid-container > div {
  background-color: #FFFFFF;
  padding: 30px;
}

.item {
  grid-column: 1 / span 2;
  font-family: 'Nunito';
}

input {
  float: right;
}

#btn {
  cursor: pointer;
  float: right;
  background-color: #3DCD58;
  color: white;
  border: 1px solid #626469;
  padding: 10px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  /*gøres usynlig*/
  transform: translate(-50%, -50%) scale(0);
  transition: 200 ms ease-in-out;
  border: 1px solid black;
  border-radius: 0px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.popup.active {
  transform: translate(-50%, -50%) scale(1);
}


.luk {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  float: right;
}

.popuptekst {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  transition: 200 ms ease-in-out;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  /*så indsend knap kan trykeks på når popup ik er aktiv*/
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
