.menu {
display: flex;
justify-content: space-around;
align-items: center;
}
.menu2{
  display: flex;
  list-style: none;
  justify-content: space-around;
  color: #626469;
  gap: 15px;
}

a{
  text-decoration: none;
}

ul{
  padding: 0px;
}

.links{
  color: #626469;
}
.links:hover{
  color: #3DCD58;
}

.linksside{
  color: #3DCD58;
}

#logo{
  z-index: 100;
  position: absolute;
  top: 12pt;
  right: 24pt;
}

#logobilled{
max-width: 100px;
}

.infog1{
  width: 100%;
  max-width: 800px;
  margin-top: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}